$color-dark-gunmeta: #1B2430;
$color-american-blue: #3F3B6C;
$color-bluebonnet: #1D1CE5;
$color-ultramarine-blue: #4649FF;
$color-violets-are-blue: #7978FF;
$color-heliotrope: #C47AFF;
$color-diamond: #B9E0FF;
$color-black: #000;
$color-white: #fff;
$color-malachite: #08C952;
$color-blood-animal: #A1140A;
$color-cetacean-blue: #160440;
$color-shandy: #FCE46D;
$color-arylide-yellow: #EDCF6B;



$filter-malachite: invert(63%) sepia(35%) saturate(5634%) hue-rotate(102deg) brightness(99%) contrast(94%);
